gitly
*.sqlite
*.css
*.css.map
.sass-cache/
.lite_workspace.lua
static/assets/version
logs/
repos/
archives/

*.code-workspace
.vscode

.DS_Store
node_modules/

go.mod
go.sum

generated_go/
generated_rust/

mdbook/